<div class="study mt-3">
  <h2>Why Study With Us ?</h2>
  <p>Become a valuable expert with Tech Brilliance</p>
 
  <div class="features-section">
    <div class="feature">
      <img
        src="https://pic.onlinewebfonts.com/thumbnails/icons_532179.svg"
        alt="World Class Teachers"
      />
      <h3>World Class Teachers</h3>
      <p>
        "World-class teachers inspire learning and transform lives with their
        wisdom."
      </p>
    </div>
 
    <div class="feature">
      <img
        src="https://cdn0.iconfinder.com/data/icons/big-data-black-fill/128/big_data_-_Black_Fill-05-512.png"
        alt="Global Community"
      />
      <h3>Global Community</h3>
      <p>A global community unites diverse voices to create a shared future.</p>
    </div>
 
    <div class="feature">
      <img
        src="https://static.thenounproject.com/png/2161804-200.png"
        alt="Top Notch Courses"
      />
      <h3>Top Notch Courses</h3>
      <p>
        Top-notch courses empower learners with cutting-edge knowledge and
        skills.
      </p>
    </div>
  </div>
</div>
 
<div class="universities-section">
  <h2>Universities</h2>
  <div class="university-logos">
    <img src="../../../assets/img/picture1.png" alt="University 1" />
    <img src="../../../assets/img/Picture2.jpg" alt="University 2" />
    <img src="../../../assets/img/Picture3.jpg" alt="University 3" />
  </div>
</div>
 
<div class="projects fluid mt-5">
  <div class="text-center">
    <h1 class="mb-2">Hands-On Learning & Projects</h1>
  </div>
 
  <div class="row">
    <div class="col-md-4 p-4">
      <div class="icon-box text-center">
        <img
          src="assets\img\hiring1.png"
          alt="World Class Teachers Icon"
          class="mb-3 rounded"
          width="300px"
        />
        <h5 class="fw-bold">100% Placement Guarantee</h5>
      </div>
    </div>
 
    <div class="col-md-4 p-4">
      <div class="icon-box text-center">
        <img
          src="assets\img\hiring2.png"
          alt="World Class Teachers Icon"
          class="mb-3 rounded"
          width="300px"
        />
        <h5 class="fw-bold">
          500+ Hours Live Training<br />
          by Industry Experts
        </h5>
      </div>
    </div>
 
    <div class="col-md-4 p-4">
      <div class="icon-box text-center">
        <img
          src="assets\img\hiring3.png"
          alt="World Class Teachers Icon"
          class="mb-3 rounded"
          width="300px"
        />
        <h5 class="fw-bold">
          One on one Mentorship<br />
          and Career Guidance
        </h5>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-4 p-4">
      <div class="icon-box text-center">
        <img
          src="assets\img\hiring4.png"
          alt="World Class Teachers Icon"
          class="mb-3 rounded"
          width="300px"
        />
        <h5 class="fw-bold">
          Live projects to gain<br />
          hands on Experience
        </h5>
      </div>
    </div>
 
    <div class="col-md-4 p-4">
      <div class="icon-box text-center">
        <img
          src="assets\img\hiring5.png"
          alt="World Class Teachers Icon"
          class="mb-3 rounded"
          width="300px"
        />
        <h5 class="fw-bold">
          500+ Hiring<br />
          Partners
        </h5>
      </div>
    </div>
 
    <div class="col-md-4 p-4">
      <div class="icon-box text-center">
        <img
          src="assets\img\hiring6.png"
          alt="World Class Teachers Icon"
          class="mb-3 rounded"
          width="300px"
        />
        <h5 class="fw-bold">
          Minimum CTC of<br />
          3-4 Lakhs/Annum
        </h5>
      </div>
    </div>
  </div>
 
  <div class="bg-warning bg-opacity-25 py-5">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 text-center"
        style="font-size: 30px; font-weight: bold"
      >
        20 Assignments <br />
        100+ Hours Total Learning
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 text-center"
        style="font-size: 30px; font-weight: bold"
      >
        02 Projects <br />
        Internship Included
      </div>
    </div>
  </div>
</div>