<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Options</title>
</head>
<body>
 
    <div class="form-container">
        <h1>Career Options</h1>
        <p>Fill in the below details</p>
        <form>
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <input type="tel" placeholder="Contact no" required>
            <input type="text" placeholder="Enter your work experience in years" required>
            <input type="text" placeholder="Enter your desire domain" required>
            <input type="file" required>
            <input type="submit" value="Submit">
        </form>
        <p class="terms">
            When you register by clicking the register button, you agree to our
            <a href="#">terms & conditions</a> & <a href="#">privacy policy</a>.
        </p>
    </div>
 
</body>
</html>
 