@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');

.row {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bloodCards {
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    transition: transform .2s;
    box-shadow: 5px 5px 25px 8px rgb(147, 158, 147);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#bloodCards:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-block {
    margin-top: 15px;
    width: 100%;
}

.text {
    font-family: serif;
    font-size: larger;
    font-weight: bolder;
    margin: 5px 0;
}

.img-block {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: rgb(22, 121, 72);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloodimg {
    max-width: 80%;
    max-height: 80%;
}

.heading-text {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 1%;
    color: darkgreen;
    font-family: 'Aladin', cursive;
    letter-spacing: 1px;
    text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .heading-text {
        font-size: 30px;
        margin-left: 0;
    }

    #bloodCards {
        width: 100%;
        margin-right: 0;
    }

    .card-block {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .heading-text {
        font-size: 25px;
    }

    .text {
        font-size: medium;
    }
}