<!-- <div class="certificate">
    <h1>Certificate of Completion</h1>
    <p>This is to certify that <span class="participant-name">{{ user }}</span> has successfully completed the course on <br><span class="course-name">{{ courseName }}</span></p>
    <p>Date: <span class="completion-date">{{ today }}</span></p>
</div>
<button (click)="generateCertificate()">Generate Certificate</button> -->





<div class="certificate">
    <!-- Company Logo -->
    <img src="assets/img/techbrilliance_logo.png" alt="Company Logo" class="company-logo">

    <h1>Certificate of Completion</h1>
    <p>This is to certify that  <span class="participant-name">{{ user }}</span> has successfully completed the course on <br><span class="course-name">{{ courseName }}</span></p>
    <p>Date: <span class="completion-date">{{ today }}</span></p>

    <!-- CEO Signature -->
    <div class="ceo-signature">
        <img src="assets/img/sign1.jpg" alt="CEO Signature">
        <p>Nikhileshwar Kshirsagar<br>CEO, Tech Brilliance private limited</p>
    </div>
</div>
<button (click)="generateCertificate()">Generate Certificate</button>







