<section class="alumnus-section container py-5">
  <div class="row justify-content-center mb-4">
    <div class="col-md-7 text-center">
      <h2 class="mb-4">Meet Our Alumnus</h2>
      <h6 class="subtitle">
        Discover the success stories of our talented graduates who have made
        remarkable achievements.
      </h6>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-6 mb-4 d-flex justify-content-start">
      <div class="testimonial-card">
        <div class="testimonial-content">
          <div>
            <h5>Triveni Jumle</h5>
          </div>
          <div class="stars">★★★★★</div>
          <p>
            "I am grateful to Tech Brilliance Academy for the comprehensive Java
            Full Stack Development course, which helped me secure a placement at
            Accenture and build a strong foundation for my career."
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4 d-flex justify-content-end">
      <div class="testimonial-card">
        <div class="testimonial-content">
          <div>
            <h5>Tejswini Navrange</h5>
          </div>
          <div class="stars">★★★★★</div>
          <p>
            Tech Brilliance Academy's Data Analyst course provided strong
            fundamentals and real-world exposure, directly leading to my
            successful placement at Wipro. A rewarding journey!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4 d-flex justify-content-start">
      <div class="testimonial-card">
        <div class="testimonial-content">
          <div>
            <h5>Megha Bode</h5>
          </div>
          <div class="stars">★★★★★</div>
          <p>
            I owe my placement at Datamatics to the excellent training I
            received at Tech Brilliance Academy. Their Data Science course is
            both practical and career-oriented.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4 d-flex justify-content-start">
      <div class="testimonial-card">
        <div class="testimonial-content">
          <div>
            <h5>Sagar Katekhaye</h5>
          </div>
          <div class="stars">★★★★★</div>
          <p>
            The hands-on experience and personalized guidance I received at Tech
            Brilliance Academy were crucial in shaping my career in tech. Their
            Machine Learning course not only strengthened my technical skills
            but also gave me the confidence to excel in my field. I highly
            recommend their programs to anyone looking to build a strong
            foundation in technology!"
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <h2 class="fw-bold">Last batch 100% placed successfully</h2>
  </div>
</section>