.headtext

{
   margin-bottom: 3%; 
   font-weight: bolder; 
   color: darkgreen;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 25px;
}
.btn-primary
{
   background-color: rgb(17, 93, 95);
   border-radius: 10px;
   font-weight: bold;
}
.btn-primary:hover
{
   background-color: rgb(9, 40, 41);
   cursor: pointer;
}
.btn-secondary{
   border-radius: 10px;
   background-color: rgb(30, 116, 30);
   font-weight: bold;
   cursor: context-menu;
 }
 a{
   
    text-decoration: none;
 }
 #enrollsuccessbtn:hover
 {
   color: rgb(9, 40, 41);
   background-color: white;
 }


 #coursedetailscard-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Full height of the viewport */
   margin: 0; /* Remove any margin */
 }
 
 .responsive-card {
   box-shadow: 2px 2px 15px 8px rgb(147, 158, 147);
   padding-left: 3%;
   border-radius: 10px;
   background-color: white;
   width: 100%;
   max-width: 520px;
 }
 
 /* For larger screens */
 @media (min-width: 768px) {
   .responsive-card {
     margin: 0 auto;
   }
 }
 
 /* For tablets and smaller screens */
 @media (max-width: 767px) {
   .responsive-card {
     width: 90%;
     margin: 0 auto;
   }
 }
 
 /* For mobile screens */
 @media (max-width: 480px) {
   .responsive-card {
     width: 100%;
     padding-left: 5%;
     padding-right: 5%;
   }
 }
 

 .enrollment-container {
   display: flex;
   justify-content: center; /* Align buttons horizontally center */
   margin-bottom: 10px;
 }
 
 .enroll-btn, .enrolled-btn {
   margin-right: 8%;
   margin-left: 3%;
 }
 
 .course-actions-container {
   display: flex;
   justify-content: center; /* Align buttons horizontally center */
   margin-bottom: 15px;
 }
 
 .action-btn {
   margin-right: 10px;
 }
 
 .wishlist-container {
   display: flex;
   justify-content: flex-end; /* Align wishlist buttons to the right */
   margin-right: 5%;
 }
 
 .wishlist-action {
   display: inline-block;
 }
 
 .wishlist-btn, .wishlist-liked-btn {
   background-color: transparent;
   border: none;
   outline: none;
   font-weight: bolder;
 }
 
 .wishlist-btn i, .wishlist-liked-btn i {
   color: red;
 }
 