<div class="container">
    <h1 class="heading">Success Stories</h1>
    <p class="sub-heading"><b>Strengthening Alumni Ties for Success</b></p>
   
    <div class="success-stories">
      <!-- Left Side Cards -->
      <div class="side left">
        <!-- Card 1 -->
        <div class="quote-card">
          <div class="description">
            <p><b>ROHIT TIWARI</b></p>
            <p class="job-title">Java Full Stack Developer At Accenture</p>
            <p class="salary"><b>7.5 LPA</b></p>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="quote-card">
          <div class="description">
            <p><b>MEGHA BODE</b></p>
            <p class="job-title">Data Scientist At Datamatics</p>
            <p class="salary"><b>8.8 LPA</b></p>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="quote-card">
          <div class="description">
            <p><b>VISHNU HAMNE</b></p>
            <p class="job-title">Machine Learning Engineer At IBM</p>
            <p class="salary"><b>6 LPA</b></p>
          </div>
        </div>
      </div>
   
      <!-- Center Video -->
      <div class="center">
        <div class="video-card">
          <!-- <video width="100%" height="100%" autoplay muted loop preload="auto">
              <source
                  src="../../../assets/img/CertificateVideo.mp4"
                  type="video/mp4"
              />
              Your browser does not support the video tag.
          </video> -->
          <img src="../../../assets/img/CetificateGIF.gif" width="100%" height="100%" alt="Certificate GIF" />
      </div>
   
        <!-- Card Below Video -->
        <div class="quote-card-below-video">
          <div class="description">
            <p><b>PRANAV GOHAD</b></p>
            <p class="job-title">Data Engineer At TCS</p>
            <p class="salary"><b>6.5 LPA</b></p>
          </div>
        </div>
      </div>
   
      <!-- Right Side Cards -->
      <div class="side right">
        <!-- Card 4 -->
        <div class="quote-card">
          <div class="description">
            <p><b>AKHILESH INGLE</b></p>
            <p class="job-title">Power BI Developer At Infosys</p>
            <p class="salary"><b>7 LPA</b></p>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="quote-card">
          <div class="description">
            <p><b>BHAVESH MEHAR</b></p>
            <p class="job-title">DevOps Engineer At Airtel</p>
            <p class="salary"><b>8.5 LPA</b></p>
          </div>
        </div>
        <!-- Card 6 -->
        <div class="quote-card">
          <div class="description">
            <p><b>TEJSWINI NAVRANGE</b></p>
            <p class="job-title">Data Analyst At Wipro</p>
            <p class="salary"><b>9 LPA</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>