<div class="popup" *ngIf="isVisible">
    <div class="popup-content">
      <span class="close-btn" (click)="closePopup()">&times;</span>
      <h2>Note!</h2>
      <!-- <p><li> market of coaching institutes in India is growing tremendously, if you also want to tap this potential and looking for the best marketing strategy and Advertisement Ideas for Tuition Classes you need to understand How to attract more Students to your Coaching Classes.

      </li>    <br><br> <li> When it comes to Advertisement for Tuition Classes, you have two options one is to copy how other competitors are doing their Tuition Advertisement or you can create your own unique Advertisement Ideas that will help you in Increasing the Number of Students in Your Coaching Classes.<br>
      </li>         
    </p> -->
    <strong>"Please note: Our website is still under development. We apologize for any inconvenience.<br> 
      If you encounter any issues, kindly connect with our WhatsApp group for enquiry. 
      <a class="btn btn-primary btn-floating m-1" 
      style="background-color: rgb(21, 163, 21); border: none;" role="button"
       onclick="window.open('https://chat.whatsapp.com/GWqvAmNWwMl59w2NpNylIw')">
       <i class="fa fa-whatsapp"></i></a><br>
       Thank you for your understanding!"
    </strong>
    
      <!-- <button (click)="shopNow()">Shop Now</button> -->
    </div>
  </div>
  